#instructions {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(to right, #ff7f7f, #7fff7f);
}


body {
    overflow-y: hidden;
    overflow-x: hidden;
}
